<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<header>
    <nav class="main-nav">
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li th:if="${session.userSession == null}">
                <a href="/users/login">Login</a>
            </li>
            <li th:if="${session.userSession == null}">
                <a href="/users/register">Register</a>
            </li>
            <li th:if="${session.userSession == null}">
                <a href="/home/about">About</a>
            </li>
            <li th:if="${session.userSession != null}">
                <a href="/routes/add">Add new route</a>
            </li>
            <li th:if="${session.userSession != null}">
                <a href="/users/profile">Profile</a>
            </li>
            <li th:if="${session.userSession != null && session.userSession.role == T(bg.softuni.pathfinder.models.enums.RoleType).ADMIN}">
                <a href="/">Admin</a>
            </li>
            <li th:if="${session.userSession != null}">
                <a href="/users/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>