<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<header>
    <nav class="main-nav">
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/users/login">Login</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/users/register">Register</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/home/about">About</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/routes/add">Add new route</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/users/profile">Profile</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/users/admin">Admin</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/users/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>